<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <title>Supervisor View<</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <style>
    body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    .w3-third img{margin-bottom: -6px; opacity: 0.8; cursor: pointer}
    .w3-third img:hover{opacity: 1}
    #table {
      font-family: "Raleway", sans-serif;
      border-collapse: collapse;
      width: 100%;
      padding: 50px;
    }

    #table td, #table th {
      border: 1px solid #ddd;
      padding: 8px;
    }
  </style>
<body class="w3-light-grey w3-content" style="max-width:1600px">
<nav class="w3-sidebar w3-bar-block w3-white w3-animate-left w3-text-grey w3-collapse w3-top w3-center" style="z-index:3;width:300px;font-weight:bold" id="mySidebar"><br>
  <h3 th:replace="~{fragments/welcome :: sidebarWelcome}"></h3>
    <a th:href="@{/api/supervisor/home}" class="w3-bar-item w3-button">ALL LEAVES</a>
    <a th:href="@{/api/supervisor/accepted-leaves}" class="w3-bar-item w3-button">ACCEPTED LEAVES</a>
    <a th:href="@{/api/supervisor/rejected-leaves}" class="w3-bar-item w3-button">REJECTED LEAVES</a>
    <a th:href="@{/api/supervisor/pending-leaves}" class="w3-bar-item w3-button">PENDING LEAVES</a>
    <a th:href="@{/api/change-password}" class="w3-bar-item w3-button">CHANGE PASSWORD</a>
    <a th:href="@{/logout}" class="w3-bar-item w3-button">LOG OUT</a>
</nav>

<div class="w3-main" style="margin-left:350px; margin-right: 50px; margin-top: 50px;">
  <div class="w3-center w3-padding-32">
    <h4><b>All leave requests (your department)</b></h4>
    <table id="table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Email</th>
        <th>From Date</th>
        <th>To Date</th>
        <th>Type</th>
        <th>Duration</th>
        <th>Reason</th>
          <th>Status</th>

      </tr>
      </thead>
      <tbody>
     <tr th:each="leave_details: ${allLeaves}">
        <td><span th:text="${leave_details.id}"></span></td>
        <td><span th:text="${leave_details.user.email}"></span></td>
        <td><span th:text="${leave_details.fromDate}"></span> </td>
        <td><span th:text="${leave_details.toDate}"></span> </td>
        <td><span th:text="${leave_details.leaveType}"></span> </td>
        <td><span th:text="${leave_details.duration}"></span> </td>
        <td><span th:text="${leave_details.reason}"></span> </td>
         <td>
             <span th:if="${leave_details.pending}" style="color: #856404;">PENDING</span>
             <span th:if="${!leave_details.pending and leave_details.flag}" style="color: green;">ACCEPTED</span>
             <span th:if="${!leave_details.pending and !leave_details.flag}" style="color: red;">REJECTED</span>
         </td>
     </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>